.nav-link {
  text-decoration: none;
  color: #cecece;
  display: inline;
}

.nav-content {
  display: flex;

  gap: 0.4rem;

  align-items: center;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.nav-content::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.5px;
  width: 0%;
  background-color: #eacf00;
  transition: width 0.4s ease;
}

.nav-link:hover .nav-content::after {
  width: 100%;
}

.nav-link p {
  font-size: 1.3rem;
  font-weight: 400;

  transition: color 0.5s ease;
}