.cart-product-card {
  display: flex;
  height: 6.2rem;
  border-radius: 15px;
  background-color: #313131;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 1.5rem;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.product-in-cart-img {
  height: 5rem;
  width: auto;
}

.button {
  background-color: var(--button-background-color);
  color: var(--font-color);
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: all var(--transition-time);
}

.button:hover {
  background-color: var(--gray-color);
}

.product-price-and-controls {
  width: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bucket-img-delete-button {
  height: 30px;
}