.new-component-modal input,
select {
  background-color: #1e1e1e;
  border-color: #cecece;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  padding: 10px;

  &:focus {
    border-color: #eacf00;
  }
}

.new-component-modal {
  display: flex;
  width: 30rem;
  flex-direction: column;
  gap: 15px
}

.specs-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.specs {
  display: flex;
  gap: 10px
}