:root {
  --font-color: #c2c2c2;
  --font-hover-color: #eacf00;
  --font-weight: 500;
}

.characteristic {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.characteristic p {
  grid-column: 2/3;
  transition: color 0.2s ease;
  font-weight: 100;
}

.characteristic span {
  color: var(--font-color);
  font-weight: var(--font-weight);
  font-size: 0.7rem;
}

.characteristic:hover p {
  color: var(--font-hover-color);

}

.characteristic img {
  grid-row: 1/3;
  height: 100%;
  width: auto;
}