.service-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.service-page-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service-requests {
  display: flex;
  flex-direction: column;
  gap: 15px;
}